body{
    margin: 0px;
    background-color: #F4F1DE;
    min-width: 1180px;
}

h1, h2, h3{
    margin-top: 0px;
}

ul, li, a{
    text-decoration: none;
    color: black;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header{
    width: 100%;
    text-align: center;
    padding-bottom: 1px;
    margin-bottom: 30px;
}

#titulo{
    color: #81B29A;
}

#menu{
    position: relative;
    left: 520px;
    width: 300px;
    height: 40px;
    background-color: #219EBC;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border-radius: 3px;
}

#menu .itens{
    border-left: 1px solid black;
}

#menu .primeiro{
    border: 0px;
}

.itens a:hover{
    color: white;
}

main{
    background-color: white;
    margin: 0px 15px;
    padding: 50px 0px;
    border-radius: 5px;
    text-align: center;
}

#destaques{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.post{
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    width: 365px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.116);
    cursor: pointer;
}

.foco{
    background-color: #023047;
    color: #81B29A;
}

#lista-posts{
    text-align: left;
}

#lista-posts .itens{
    width: 69%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px 0px;
    cursor: pointer;
}

.img-lista{
    width: 150px;
    margin: 20px 20px;
}

/*-------------------------------------aside--------------------------------*/

#sobre{
    width: 29%;
    float: right;
    border: 5px solid #F4F1DE;
    border-radius: 10px;
    padding-bottom: 20px;
}

#resumo{
    width: 300px;
    text-align: justify;
    padding-left: 50px;
}

#perfil{
    width: 150px;
    border-radius: 100%;
}