/*-----------------------------------------------------Geral------------------------------------------------------------------------*/

:root{
    --bg-color: rgb(132, 255, 255);
    --border-radius: 10px;
}

h2{
    margin-top: 0px;
}
body{
    margin: 0px;
}


/*-----------------------------------------------------Cabeçalho--------------------------------------------------------------------*/

header{
    text-align: center;
    padding-bottom: 150px;
    background-color: #44525F;
}

header h1{
    margin-top: 0px;
}

nav{
    display: flex ;
    flex-wrap: nowrap;
    justify-content: center;
}

.nav-item{
    margin: 0px 40px;
}

/*-----------------------------------------------------Corpo------------------------------------------------------------------------*/

section{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: -90px 25px 0px 25px;
}

main{
    width: 70%;
    margin-left: 10px;
}

aside{
    width: 28%;
}

/*-----------------------------------------------------Post-------------------------------------------------------------------------*/

.post{
    display: flex;
    justify-content: flex-start;
    height: 160px;
    border-radius: var(--border-radius);
}

.post-imagem{
    width: 125px;
    margin: 5px 10px;
    border-radius: var(--border-radius);
}

.post-titulo{
    margin-top: 10px;
    margin-bottom: 25px;
}

.conteudo{
    margin: 5px 10px;
    text-align: justify;
}

.saiba-mais{
    position: relative;
    top: 125px;
    right: 6px;
}

/*-----------------------------------------------------Aside------------------------------------------------------------------------*/

.minha-foto{
    border-radius: 100%;
    width: 200px;
}

.sobre-mim div{
    width: 250px;
    position: relative;
    padding: 10px;
    background-color: #558C8C;
    border-radius: var(--border-radius);
    margin-left: 27%;
    margin-top: -2px;
}

.sobre-mim{
    text-align: center;
}

.texto-sobre-mim{
    text-align: justify;
}

/*-----------------------------------------------------Footer---------------------------------------------------------------------------*/

.lista-icones{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.item{
    margin: 0px 10px;
}