h2{
    margin-top: 0px;
}



/*-----------------------------------------------------Cabeçalho--------------------------------------------------------------------*/

header{
    text-align: center;
    margin-bottom: 20px;
}

nav{
    display: flex ;
    flex-wrap: nowrap;
    justify-content: center;
}

.nav-item{
    margin: 0px 40px;
}

/*-----------------------------------------------------Corpo------------------------------------------------------------------------*/

section{
    display: flex;
    justify-content: space-between;
}

main{
    width: 70%;
    margin-left: 10px;
}

aside{
    width: 28%;
}

.post{
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: flex-start;
    height: 160px;
    border-radius: 10px;
}

.post-imagem{
    width: 300px;
    margin: 5px 10px;
}

.conteudo{
    margin: 5px 10px;
}



.minha-foto{
    border-radius: 100%;
}

.sobre-mim div{
    width: 300px;
}

.sobre-mim{
    text-align: center;
}

.texto-sobre-mim{
    text-align: justify;
}
